<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.WeiquanxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Weiquanxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="biaoti" jdbcType="VARCHAR" property="biaoti" />    <result column="weiquanneirong" jdbcType="VARCHAR" property="weiquanneirong" />    <result column="cailiao" jdbcType="VARCHAR" property="cailiao" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="lianxidianhua" jdbcType="VARCHAR" property="lianxidianhua" />    <result column="zhuangtai" jdbcType="VARCHAR" property="zhuangtai" />    <result column="huifu" jdbcType="VARCHAR" property="huifu" />    <result column="tianjiaren" jdbcType="VARCHAR" property="tianjiaren" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, biaoti,weiquanneirong,cailiao,xingming,lianxidianhua,zhuangtai,huifu,tianjiaren, addtime
  </sql>
  <select id="quchongWeiquanxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from weiquanxinxi 
    where tianjiaren = #{tianjiaren,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from weiquanxinxi  where 1=1
    <if test="biaoti!=null">and biaoti like  concat('%',#{biaoti,jdbcType=VARCHAR},'%')</if>     <if test="weiquanneirong!=null">and weiquanneirong like  concat('%',#{weiquanneirong,jdbcType=VARCHAR},'%')</if>     <if test="cailiao!=null">and cailiao like  concat('%',#{cailiao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="lianxidianhua!=null">and lianxidianhua like  concat('%',#{lianxidianhua,jdbcType=VARCHAR},'%')</if>     <if test="zhuangtai!=null">and zhuangtai like  concat('%',#{zhuangtai,jdbcType=VARCHAR},'%')</if>     <if test="huifu!=null">and huifu like  concat('%',#{huifu,jdbcType=VARCHAR},'%')</if>     <if test="tianjiaren!=null">and tianjiaren like  concat('%',#{tianjiaren,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from weiquanxinxi  where 1=1
    <if test="tianjiaren!=null">
    and tianjiaren =#{tianjiaren}
    </if>
  </select>
  
  <select id="getsyweiquanxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from weiquanxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyweiquanxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from weiquanxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyweiquanxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from weiquanxinxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from weiquanxinxi where 1=1 
     <if test="biaoti!=null">and biaoti like  concat('%',#{biaoti,jdbcType=VARCHAR},'%')</if>     <if test="weiquanneirong!=null">and weiquanneirong like  concat('%',#{weiquanneirong,jdbcType=VARCHAR},'%')</if>     <if test="cailiao!=null">and cailiao like  concat('%',#{cailiao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="lianxidianhua!=null">and lianxidianhua like  concat('%',#{lianxidianhua,jdbcType=VARCHAR},'%')</if>     <if test="zhuangtai!=null">and zhuangtai like  concat('%',#{zhuangtai,jdbcType=VARCHAR},'%')</if>     <if test="huifu!=null">and huifu like  concat('%',#{huifu,jdbcType=VARCHAR},'%')</if>     <if test="tianjiaren!=null">and tianjiaren like  concat('%',#{tianjiaren,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from weiquanxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from weiquanxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Weiquanxinxi">
    insert into weiquanxinxi (id, biaoti,weiquanneirong,cailiao,xingming,lianxidianhua,zhuangtai,huifu,tianjiaren, addtime)
    values (#{id,jdbcType=INTEGER}, #{biaoti,jdbcType=VARCHAR},#{weiquanneirong,jdbcType=VARCHAR},#{cailiao,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{lianxidianhua,jdbcType=VARCHAR},#{zhuangtai,jdbcType=VARCHAR},#{huifu,jdbcType=VARCHAR},#{tianjiaren,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Weiquanxinxi">
    insert into weiquanxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="biaoti != null"> biaoti, </if>      <if test="weiquanneirong != null"> weiquanneirong, </if>      <if test="cailiao != null"> cailiao, </if>      <if test="xingming != null"> xingming, </if>      <if test="lianxidianhua != null"> lianxidianhua, </if>      <if test="zhuangtai != null"> zhuangtai, </if>      <if test="huifu != null"> huifu, </if>      <if test="tianjiaren != null"> tianjiaren, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="biaoti != null"> #{biaoti,jdbcType=VARCHAR},</if>      <if test="weiquanneirong != null"> #{weiquanneirong,jdbcType=VARCHAR},</if>      <if test="cailiao != null"> #{cailiao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="lianxidianhua != null"> #{lianxidianhua,jdbcType=VARCHAR},</if>      <if test="zhuangtai != null"> #{zhuangtai,jdbcType=VARCHAR},</if>      <if test="huifu != null"> #{huifu,jdbcType=VARCHAR},</if>      <if test="tianjiaren != null"> #{tianjiaren,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Weiquanxinxi">
    update weiquanxinxi
    <set>
	  <if test="biaoti != null"> biaoti = #{biaoti,jdbcType=VARCHAR},</if>      <if test="weiquanneirong != null"> weiquanneirong = #{weiquanneirong,jdbcType=VARCHAR},</if>      <if test="cailiao != null"> cailiao = #{cailiao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="lianxidianhua != null"> lianxidianhua = #{lianxidianhua,jdbcType=VARCHAR},</if>      <if test="zhuangtai != null"> zhuangtai = #{zhuangtai,jdbcType=VARCHAR},</if>      <if test="huifu != null"> huifu = #{huifu,jdbcType=VARCHAR},</if>      <if test="tianjiaren != null"> tianjiaren = #{tianjiaren,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKeySelectivelb" parameterType="com.entity.Weiquanxinxi">
    update weiquanxinxi
    <set>
      <if test="huifu != null"> huifu = #{huifu,jdbcType=VARCHAR},</if>      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Weiquanxinxi">
    update weiquanxinxi
    set biaoti = #{biaoti,jdbcType=VARCHAR},weiquanneirong = #{weiquanneirong,jdbcType=VARCHAR},cailiao = #{cailiao,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},lianxidianhua = #{lianxidianhua,jdbcType=VARCHAR},zhuangtai = #{zhuangtai,jdbcType=VARCHAR},huifu = #{huifu,jdbcType=VARCHAR},tianjiaren = #{tianjiaren,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
